#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #011627;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
html{
    position: relative;
    min-height: 100%;
}
body {
   padding-top: 70px;
   height: 100%;
   margin-bottom: 200px;
   
}
.container-fluid {
    height: 100%;
    overflow: hidden; /* don't show content that exceeds my height */
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
    color: #f6f7f8
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #2ec4b6
}
/* PAGE ONE - SEARCH BOX */
 
/*------------- BANNER --------------- */
.banner{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #dbdbdb !important;
}
/*------------- FOOTER --------------- */
.footer {
    position: absolute;
    height: 200;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #2ec4b6 !important;
};


/* ----------------------------------------------- */

/* Changing the colour of tab heading */
a.nav-link{
    color: aliceblue !important;
}
a.nav-link.active{
    color: #495057 !important;
}
/* PINK BAR */
.gene-heading-div{
    background-color:#ff3366;
    padding-top:10px ;
    padding-bottom:40px;
    padding-left: 50px;
    z-index:-2;
    margin-top: -13px;
}
.gene-heading{
    color:#f6f7f8;
    font-size: 50px;
}
/* DATA TABLES */
div.dataTables_wrapper {
    margin-bottom: 3em;
}
/* BASIC PANEL */
div.basic-table-title{
    text-align: end;
    font-weight:bold
}

div.basic-table-row{
    padding: 6px;
}
div.basic-table-content{
    display : flex;
    align-items : center;
    color:#00629b;
}
div.basic-table-content a{
    color:#00629b;
}
div.basic-table-content a:hover{
    color:#011627;
}

/*-------------- th style of the data tables -------------*/
.details th{
    border-style: solid; 
    border-color: #e8e8e8;
    border-right-width: 1px;
    border-top-width: 1px;
    border-left-width: 0px;
}
.details th.left-head{ 
    border-left-width: 1px;
    border-top-left-radius: 5px;   
}
.details th.right-head{ 
    border-top-right-radius: 5px;   
}

/* -------------------------------------------------- */

/* div.ppi-viz {
  height: 500px;
} */
/* Drug network */
.link {
    stroke: rgba(125, 125, 126, 0.418);
  }

.node {
    stroke: #fff;
}
/* -------------------------------------------------- */

/* Legend */

/* p.ppi {
    margin: 0 !important;
} */
.key-dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    margin-right: .5em;
    
}

.cmdb { background: #479794;}
.human { background: #324e73;}
.non-human { background: #15699b;
}

#ppi-legend{
    overflow:hidden;
}
.legend {
    float:none;
    margin-right: 1em;
}
/* ------------------- */

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;
    height: 30px;
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
   pointer-events: none;			
}