#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #011627;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
html{
    position: relative;
    min-height: 100%;
}
body {
   padding-top: 70px;
   height: 100%;
   margin-bottom: 200px;
   
}
.container-fluid {
    height: 100%;
    overflow: hidden; /* don't show content that exceeds my height */
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
    color: #f6f7f8
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #2ec4b6
}
/* PAGE ONE - SEARCH BOX */
 #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}
 #custom-search-input button{
     /* margin: 2px 0 0 0; */
     background: none;
     box-shadow: none;
     border: 0;
     color: #666666;
     padding: 0 8px 0 10px;
     /* border-left: solid 1px #ccc; */
 }

 #custom-search-input button:hover{
     border: 0;
     box-shadow: none;
     border-left: solid 1px #ccc;
 }
/* FOOTER */
.footer {
    position: absolute;
    height: 200;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #08b8a6 !important;
};
#footer ul.social li{
        padding: 3px 0;
    }

/* ---------------------------------------------- */
 /* .sidebar {
   position: fixed;
   top: 51px;
   bottom: 0;
   left: 0;
   z-index: 1000;
   padding: 20px;
   overflow-x: hidden;
   overflow-y: auto; Scrollable contents if viewport is shorter than content.
   border-right: 1px solid #eee;
 }

.bg-faded{
  background-color: rgba(247, 247, 247, 0.5)
} */
/* ----------------------------------------------- */

/* Changing the colour of tab heading */
a.nav-link{
    color: aliceblue;

/* PINK BAR */
}
.gene-heading-div{
    background-color:#ff3366;
    padding-top:10px ;
    padding-bottom:40px;
    padding-left: 50px;
    z-index:-2;
    margin-top: -13px;
}
.gene-heading{
    color:#f6f7f8;
    font-size: 50px;
}
/* DATA TABLES */
div.dataTables_wrapper {
    margin-bottom: 3em;
}
/* BASIC PANEL */
div.basic-table-title{
    text-align: end;
    font-weight:bold
}

div.basic-table-row{
    padding: 6px;
}
div.basic-table-content{
    display : flex;
    align-items : center;
    color:#00629b;
}
div.basic-table-content a{
    color:#00629b;
}
div.basic-table-content a:hover{
    color:#011627;
}

/*-------------- th style of the data tables -------------*/
.details th{
    border-style: solid; 
    border-color: #e8e8e8;
    border-right-width: 1px;
    border-top-width: 1px;
    border-left-width: 0px;
}
.details th.left-head{ 
    border-left-width: 1px;
    border-top-left-radius: 5px;   
}
.details th.right-head{ 
    border-top-right-radius: 5px;   
}

/* -------------------------------------------------- */

/* div.ppi-viz {
  height: 500px;
} */
/* Drug network */
.link {
    stroke: rgba(125, 125, 126, 0.418);
  }

.node {
    stroke: #fff;
}
/* -------------------------------------------------- */

/* Legend */

/* p.ppi {
    margin: 0 !important;
} */
.key-dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    margin-right: .5em;
    
}

.cmdb { background: #479794;}
.human { background: #324e73;}
.non-human { background: #15699b;
}

#ppi-legend{
    overflow:hidden;
}
.legend {
    float:none;
    margin-right: 1em;
}
/* ------------------- */

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;
    height: 30px;
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
   pointer-events: none;			
}