{% extends 'base.html' %} 
{% block title %}DRUG{% endblock %} 
{% block content %}
<div class="container">
  <div class="row">Anticoagulants</div>
  <div class="row">Calcium Blockers</div>
  <div class="row">Beta-Adrenergic Blocking Agents</div>
  <div class="row">Diuretics</div>
  <div class="row">ACE inhibitor</div>
  <div class="row">Statin</div>
  <div class="row"> Angiotensin II receptor blockers</div>
  <div class="svgdiv">

  </div>  
</div>
{% endblock %}  
{% block extrajs %}


{% endblock %}

