{% extends 'base.html' %}
{% block title %}{{gene.name}}{% endblock %}
{% block content %}
<div class="gene-heading-div">
    <h1 class=gene-heading><b><i>{{gene.name}}</i></b></h1>
</div>
<div style="margin-top: -41px;" class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if tabname=='basic' %}active{% endif %}" id="basic-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='basic') }}"  aria-controls="basic" aria-selected="true">Basic</a>
        </li>
        <li class="nav-item">   
            <a class="nav-link {% if tabname=='go' %}active{% endif %}"  id="go-tab" href="{{ url_for('render_gene', name=gene.name, tabname='go') }}" aria-controls="go" aria-selected="false">Gene Ontology</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='exac' %}active{% endif %}" id="exac-tab" href="{{ url_for('render_gene', name=gene.name, tabname='exac') }}"  aria-controls="exac" aria-selected="false">ExAC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='nhlbi' %}active{% endif %}" id="nhlbi-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='nhlbi') }}"  aria-controls="nhlbi" aria-selected="false">NHLBI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='clinvar' %}active{% endif %}" id="clinvar-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='clinvar') }}"  aria-controls="clinvar" aria-selected="false">Clinvar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='phenotype' %}active{% endif %}" id="phenotype-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='phenotype') }}"  aria-controls="phenotype" aria-selected="false">Phenotype</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='pathways' %}active{% endif %}" id="pathways-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='pathways') }}"  aria-controls="pathways" aria-selected="false">Pathways</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='ppi' %}active{% endif %}" id="ppi-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='ppi') }}"  aria-controls="ppi" aria-selected="false">PPI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabname=='drug' %}active{% endif %}" id="drug-tab"  href="{{ url_for('render_gene', name=gene.name, tabname='drug') }}"  aria-controls="drug" aria-selected="false">Drug</a>
        </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        {% block tabcontent %}{% endblock %}
    </div>
</div>
{% endblock %}





