{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-top: -15px">
  <div class="row text-center text-xs-center text-sm-left text-md-left banner">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="https://instem.res.in/dhan/"><img class=" mx-auto d-block" src="{{ url_for('static', filename='img/dhanlab.png') }}" alt="Dhanlab_Logo" width="280" height="110"></a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">  
      <a href="https://instem.res.in/"><img class=" mx-auto d-block" src="{{ url_for('static', filename='img/instem_logo.png') }}" alt="InStem_Logo" width="100" height="120"></a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">  
      <a href="https://www.ohsu.edu/xd/"><img class=" mx-auto d-block" src="{{ url_for('static', filename='img/ohsu.png') }}" alt="Ohsu_Logo" width="150" height="120"> </a> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" >
      
      <div class="input-group mb-3 pt-5">
        <div class="input-group-prepend">
          <a class="btn btn-outline-secondary" href="{{url_for('genes')}}">See all genes</a>
          <button id="searchTypeBtn" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gene</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" data-qt="gene">Gene</a>
            <a class="dropdown-item" href="#" data-qt="protein">Protein</a>
            <a class="dropdown-item" href="#" data-qt="pathway">Pathway</a>
            <!-- <div role="separator" class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#" data-qt="drug">Drug</a>
            <a class="dropdown-item" href="#" data-qt="variant">Variant</a>
          </div>
          
        </div>
        <input type="text" class="form-control" placeholder="keyword" id="searchTextBox" value="{%if search_arg %}{{search_arg}}{% endif %}">
        <input type="hidden" id="queryType" value="gene">
        <div class="input-group-append">
          <button id="searchBtn" class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h4>About the DB</h4>
      <p> CMDB is a comprehensive database for genes related to cardiomyopathy. More than 10 curated databases has been compiled.  </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h4>Version details</h4>
      <p>Version V.1.0</p>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="search_results col-md-12 justify-content-center" style="width:100%">
      <div id="search-message"></div>
      <div class="table-responsive" id="searchResultsTable">
        {% if search %}
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Gene name</th>
              <th>Ensembl ID</th>
              <th>Protein</th>
            </tr>
          </thead>
          <tbody>
            {% for g in results %}
            <tr>
              <td><a href="{{ url_for('render_gene', name=g.name, tabname='basic') }}">{{g.name}}</a></td>
              <td>{{g.ensembl_id}}</td>
              <td>{{g.protein_name}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}    
{% block footer%}

<!-- Footer -->
<div class="container">
  <!-- <div class="row text-center text-xs-center text-sm-left text-md-left" style="padding-top: 10px">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <img class=" mx-auto d-block" src="static/img/dhanlab.png" alt="Dhanlab_Logo" width="210" height="120">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">  
      <img class=" mx-auto d-block" src="static/img/instem_logo.png" alt="InStem_Logo" width="100" height="120">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">  
      <img class=" mx-auto d-block" src="static/img/ohsu.png" alt="Ohsu_Logo" width="150" height="120">  
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 ">
      <ul class="list-unstyled list-inline social text-center mb-0">
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    
  </div>	 -->
</div>
{% endblock %} 

{% block extrajs %}
<script>
  $(document).ready(function(e){
    $('#queryType').val('gene');
    
    $('.dropdown-menu').find('a').click(function(e) {
      e.preventDefault();
      var param = $(this).attr("data-qt");
      var concept = $(this).text();
      $('#queryType').val(param);    
      $('#searchTypeBtn').text(concept);
    });
    
    $('#searchTextBox').keyup(function (e) {
      var key = e.which;
      if(key == 13)  // the enter key code
      {
        $('#searchBtn').click();
        return false;  
      }
    });
    
    $('#searchBtn').on('click', (e) => {
      $('#search-message').html('Loading...');
    });
    
    var renderResults = function(content) {
      if (content === false) {
        $('#search-message').html('No results');
        $('#searchResultsTable').html('');
        return
      }
      $('#search-message').html('');
      $('#searchResultsTable').html(content);
    };
    
    var getQuery = function (queryType) {
      switch(queryType){
        case 'gene':
          return JSON.stringify({
            query: `query searchGenes($name: String!) {
              gene(
              limit:10,
              where: {
                _or:[
                {name: {_ilike: $name}},
                {ensembl_id: {_ilike: $name}}
                ]}
                ) {
                  name
                  ensembl_id
                  protein_name
                }   
                protein(
                limit:10,
                where: {
                  gene_synonyms:{_ilike:$name}
                }
                ) {
                  ensembl_id {ensembl_id : ensembl_id}
                  name: gene_synonyms
                  protein_name: protein
                  uniprot_id: uniprot_id
                } 
            }`,  
            variables: {
              name: `%${$('#searchTextBox').val()}%`
            }
          });
        case 'protein':
          return JSON.stringify({
            query:`query searchProtein($name: String!) {
              gene(
              limit:10,
              where: {
                _or:[
                {uniprot_id: {_ilike: $name}},
                {protein_name:{_ilike: $name}}
                ]
              }
              ) {
                name
                uniprot_id
                protein_name
              }   
            }`,
            variables: {
              name: `${$('#searchTextBox').val()}%`
            }
          });
        case 'pathway':
          return JSON.stringify({
            query:`query searchPathway($name: String!) {
              pathway(
              limit:10,
              where: {
                data: {_ilike: $name}
              }
              ) {
                name
                external_id
                data    
              }   
            }`,
            variables: {
              name: `${$('#searchTextBox').val()}%`
            }
          });
        case 'drug':
          return JSON.stringify({
            query:`query searchDrug($name: String!) {
              drug(
              limit:10,
              where: {_or:[
                {drug_name: {_ilike: $name}},
                {drug_type: {_ilike: $name}},
                {drugbank_id: {_ilike: $name}}
                ]}
                ){
                  drug_name
                  drug_type
                  drugbank_id
                  drug_to_target{
                    gene_name
                  }
                }                        
              }`,
              variables: {
                name: `${$('#searchTextBox').val()}%`
              }    
          })
        case 'variant':
          return JSON.stringify({
            query:`query searchVariant($name: String!) {
              clinvar_derived (
              limit:10,
              where: {_or:[
                {hgvsc: {_ilike: $name}},
                {hgvsp: {_ilike: $name}},
                {rs_dbsnp: {_ilike: $name}}
                ]}
              ){
                hgvsc
    						hgvsp
    						rs_dbsnp
    						gene_symbol
              }   
            }
            `,
            variables: {
              name: `${$('#searchTextBox').val()}%`
            }
          });
      }
    };
    
    var app_root = "{{url_for('home')}}";

    $('#searchBtn').click(function(e){
      $.ajax({
        url: app_root + '/v1alpha1/graphql',
        type: 'POST',
        data: getQuery($('#queryType').val()),
        contentType: 'application/json',
        dataType: 'json',
        success: (data) => {
          const { gene, protein, pathway, drug, clinvar_derived } = data.data;
          switch($('#queryType').val()) {
            case 'gene':
              if (gene.length === 0 && protein.length === 0) {
                renderResults(false);
                break;
              }
              var geneTemplate = `
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Gene name</th>
                      <th>Ensembl ID</th>
                      <th>Protein</th>
                    </tr>
                  </thead>
                  <tbody>
                    ${gene.map((g) => `
                      <tr>
                        <td><a href="${app_root}/gene/${g.name}/basic">${g.name}</a></td>
                        <td>${g.ensembl_id}</td>
                        <td>${g.protein_name}</td>
                      </tr>
                      `).join(' ')}
                      ${protein.map((g) => `
                        <tr>
                          <td><a href="${app_root}/uniprot/${g.uniprot_id}">${g.name}</a></td>
                          <td>${g.ensembl_id.ensembl_id}</td>
                          <td>${g.protein_name}</td>
                        </tr>
                        `).join(' ')}
                  </tbody>
                </table> 
              `;
              renderResults(geneTemplate);
              break;
            case 'protein':
              if (gene.length === 0) {
                renderResults(false);
                break;
              }
              var proteinTemplate = `
                <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Gene name</th>
                    <th>Uniprot ID</th>
                    <th>Protein</th>
                  </tr>
                </thead>
                <tbody>
                  ${gene.map((g) => `
                    <tr>
                      <td><a href="${app_root}/gene/${g.name}/basic">${g.name}</a></td>
                      <td>${g.uniprot_id}</td>
                      <td>${g.protein_name}</td>
                    </tr>
                    `).join(' ')}
                  </tbody>
                </table>
              `;
              renderResults(proteinTemplate);
              break;
            case 'pathway':
              if (pathway.length === 0) {
                renderResults(false);
                break;
              }
              var pathwayTemplate = `<table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Gene name</th>
                    <th>External ID</th>
                    <th>Pathway</th>
                  </tr>
                </thead>
                <tbody>
                  ${pathway.map((g) => `
                    <tr>
                      <td><a href="${app_root}/gene/${g.name}/basic">${g.name}</a></td>
                      <td>${g.external_id}</td>
                      <td>${g.data}</td>
                    </tr>
                    `).join(' ')}
                  </tbody>
                </table>
              `;
              renderResults(pathwayTemplate);
              break;
            case 'drug':
              if (drug.length === 0) {
                renderResults(false);
                break;
              }
              var drugTemplate = `<table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Gene name</th>
                    <th>Drug name</th>
                    <th>Drug Type</th>
                    <th>DrugBank ID</th>
                  </tr>
                </thead>
                <tbody>
                  ${drug.map((g) => `
                    <tr>
                      <td>${g.drug_to_target.map((t)=>`<a href="${app_root}/gene/${t.gene_name}/basic">${t.gene_name}</a>`).join('<br/>')}</td>
                      <td>${g.drug_name}</td>
                      <td>${g.drug_type}</td>
                      <td>${g.drugbank_id}</td>
                    </tr>
                    `).join(' ')}
                  </tbody>
                </table>
              `;
              renderResults(drugTemplate);
              break;
            case 'variant':
              if (clinvar_derived.length === 0) {
                renderResults(false);
                break;
              }
              var variantTemplate = `<table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Gene name</th>
                    <th>RS ID</th>
                    <th>HGVSc</th>
                    <th>HGVSp</th>  
                  </tr>
                </thead>
                <tbody>
                  ${clinvar_derived.map((g) => `
                    <tr>
                      <td><a href="${app_root}/gene/${g.gene_symbol}/basic">${g.gene_symbol}</a></td>
                      <td>${g.rs_dbsnp}</td>
                      <td>${g.hgvsc}</td>
                      <td>${g.hgvsp}</td>
                    </tr>
                    `).join(' ')}
                  </tbody>
                </table>
              `;
              renderResults(variantTemplate);
              break;
          }
        },
        error: (error) => {
          console.error(error);
          $('#search-message').html('An error occured. Check console for details!');

        }
      });
    });              
  });            
</script>
{% endblock %}