{% extends 'base.html' %}

{% block title %}Genes{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Gene List</h2>
      <br />
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 col-md-offset-1">
      <div class="Order-list">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="genelist">
            <thead>
              <tr>
                <th>Gene name</th>
                <th >Protein</th>
                <th style="width:15%">Source</th>
                <th>Tags</th>
                <th>Ensemble ID</th>
                
                <th>Page</th>
              </tr>
            </thead>
            <tbody>
              {% for g in genes %}{% with gene=g.gene %}
              <tr>
                <td>{{gene.name}}</td>
                <td>{{gene.protein_name}}</td>
                
                <td>
                  {% for sr in gene.source %}
                  <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{sr.source[6:]}}">{{sr.source}}</a>
                  {% endfor%}
                </td>
                <td>
                  {{gene.tags|map(attribute='tags')|join(', ')}}
                </td>
                <td>{{gene.ensembl_id}}</td>
                <td> <a href="{{ url_for('render_gene',name=gene.name, tabname='basic') }}"  class="btn btn-xs btn-warning"  >View</a> </td>
              </tr>
              {% endwith %}{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
  $(document).ready(function () {
    $('#genelist').DataTable({
      dom: 'Bfrtip',
      buttons: [
      'copy', 'csv', 'excel', 'pdf', 'print'
      ],
      "sScrollX": "100%"  
    });    
  });
</script>
{% endblock %}
