<!doctype html>
<meta charset="utf-8">

<!-- load D3js -->
<script src="https://d3plus.org/js/d3.js"></script>

<!-- load D3plus after D3js -->
<script src="https://d3plus.org/js/d3plus.js"></script>

<body>
<!-- create container element for visualization -->
<div id="viz"></div>
</body>
<script>
  // create sample dataset
    var data={

    }
  // create list of node positions
  var positions = [
   
  ]
  // create list of node connections
  var connections = [

  ]
  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz")  // container DIV to hold the visualization
    .type("network")    // visualization type
    .data(data)  // sample dataset to attach to nodes
    .nodes(positions)   // x and y position of nodes
    .edges(connections) // list of node connections
    .size("size")       // key to size the nodes
    .id("name")         // key for which our data is unique on
    .draw()             // finally, draw the visualization!
</script>