<!DOCTYPE html>
<meta charset="utf-8">
<style>
  
#extra_cellular{
    display: none;
}
#plasma_membrane{
    display: none;
}
#cytoplasm{
    display: none;
}
#er{
    display: none;
}
#mitochondria{
    display: none;
}
#golgi_apparatus{
    display: none;
}
#nucleus{
    display: none;
}

</style>

<body>
    
    <div>
        <svg version="1.1" id="image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="595.28px" height="841.89px" viewBox="0 0 595.28 841.89" style="enable-background:new 0 0 595.28 841.89;"
        xml:space="preserve"> 
            <g id="extra_cellular">
                <rect x="50" y="130" style="fill:#fff;" width="410" height="230"/>
                <rect x="30" y="50" style="fill:#A5D6AB;" width="500" height="400"/>
            </g>
            <g id="plasma_membrane">
                <rect x="50" y="130" style="fill:#A5D6AB;" width="410" height="230"/>
                <rect x="64" y="144" style="fill:#fff;" width="388" height="208"/>
            </g>
            <g id="cytoplasm">
                <rect x="64" y="144" style="fill:#A5D6AB;" width="388" height="208"/>
            </g>
            
            <g id="box">
                <rect x="50" y="130" style="fill:none;stroke:#000000;stroke-miterlimit:10;" width="410" height="230"/>
                <rect x="64" y="144" style="fill:none;stroke:#000000;stroke-miterlimit:10;" width="388" height="208"/>
                <rect x="110" y="194" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="98" height="71"/>
                <rect x="314" y="203" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="68" height="88"/>
                <rect x="100" y="160" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="20" height="20"/>
                <rect x="200" y="160" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="30" height="30"/>
            </g>
            <g id="mitochondria">
                <rect x="314" y="203" style="fill:#89CA8F;" width="68" height="88"/>
            </g>
            <g id="golgi_apparatus">
                <rect x="110" y="194" style="fill:#A5D6AB;" width="98" height="71"/>
            </g>
            <g id="nucleus">
                <rect x="100" y="160" style="fill:#A5D6AB;" width="20" height="20"/>
            </g>
            <g id="er">
                <rect x="200" y="160" style="fill:#A5D6AB;" width="30" height="30"/>
            </g>
        </svg>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
var locations = JSON.parse('{{ u_location| tojson | safe}}');

$(document).ready(function () {
    for(e of locations){
        switch (e.derived_location) {
            case 'extracellular region':
                $('#extra_cellular').css('display', 'block');
            case 'nucleus':
                $('#nucleus').css('display', 'block');
            case 'cytoplasm':
                $('#cytoplasm').css('display', 'block');
            case 'plasma membrane':
                $('#plasma_membrane').css('display', 'block');
            case 'golgi apparatus':
                $('#golgi_apparatus').css('display', 'block');
            case 'rough er':
                $('#er').show();
            case 'smooth er':
                $('#er').css('display', 'block');         
        }
    }
});

</script>

</body>