{% extends 'gene_base.html' %}
{% block title %}{{super()}} | Clinvar{% endblock %}
{% block tabcontent %}
<div class="tab-pane active fade" id="clinvar" aria-labelledby="clinvar-tab">
    <br>
    <div class="table-responsive">
        <table class="clinvar_table cell-border hover stripe details" class="table">
            <thead>
                <tr>
                    <th class="left-head">HGVSc</th>
                    <th>HGVSp</th>
                    <th>Consequence</th>
                    <th>Phenotype List</th>
                    <th>Clinical Significance</th>
                    <th>Phenotype IDs</th>
                    <th class="right-head">rs ID</th>
                </tr>   
            </thead>
            <tbody>
                {% for cl in gene.clinvar %}
                <tr>
                    <td>{{cl.hgvsc}}</td>
                    <td>{{cl.hgvsp}}</td>
                    <td>{{cl.type}}</td>
                    <td>{% set list2 = cl.phenotypelist.split(';') %}
                            {% for list in list2 %}
                            <ul style="margin-bottom: 0px;">
                            <li>{{ list }}</li>
                           </ul>
                            {% endfor %}
                    </td>
                    <td>{{cl.clinical_significance}}</td>
                    <td>{% set list1 = cl.phenotypeids.split(',') %}
                            {% for list in list1 %}
                            <a >{{ list }}</a></br>
                            {% endfor %}
                        </td>
                    <td>{{cl.rs_dbsnp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
var app_root = "{{url_for('home')}}";
$(document).ready(() => {
    $('.clinvar_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print',
        {
            text: 'Hypertrophy',
            action :function (e) {
                this.search("cardiomyopathy").draw();
            }
        },
        {
            text:      '<i class="fa fa-info"></i> ',
            action: function ( e, dt, button, config ) {
                window.location = app_root +'help/#clinvar';
            } ,
        },
       ],
        autoWidth: false,
        columnDefs: [
            {targets: 5, width: "30px"  }],
        
    });
    $('#clinvar').addClass('show');
    $('.dt-buttons :button').removeClass('dt-button');
    $('.dt-buttons :button').addClass('btn btn-secondary my-2');

});
</script>
{% endblock %}