{% extends 'gene_base.html' %} 
{% block title %} {{super()}} | Exac{% endblock %}
{% block tabcontent %} 
<div class="tab-pane fade active" id="exac" role="tabpanel" aria-labelledby="exac-tab">
    <br>
    <div class="table-responsive">
        <table class="exac_table cell-border hover stripe details" class="table">
            <thead>
                <tr>
                    <th class="left-head" rowspan="2">Variant</th>
                    <th rowspan="2">HGVSc</th>
                    <th rowspan="2">Major Consequence</th>
                    <th rowspan="2">Allele Count (No. of Homozygotes)</th>
                    <th rowspan="2">Allele Number</th>
                    
                    <th rowspan="2">RSID</th>
                    
                    <th colspan="2">European (Non-Finnish)</th>
                    <th colspan="2">European (Finnish)</th>
                    <th colspan="2">East Asian</th>
                    <th colspan="2">South Asian</th>
                    <th colspan="2">African</th>
                    <th colspan="2">Latino</th>
                    <th class="right-head"colspan="2">Other</th>
                    <th rowspan="2">Allele Frequency</th>
                </tr>
                <tr>
                    
                    <th>Allele count</th>
                    <th>Allele number</th>
                    <th>Allele count</th>
                    <th>Allele number</th>
                    <th>Allele count</th>
                    <th>Allele number</th>
                    <th>Allele count</th>
                    <th>Allele number</th>
                    <th>Allele count</th>
                    <th>Allele number</th>
                    <th>Allele count</th>
                    <th>Allele number</th>
                    <th>Allele count</th>
                    <th>Allele number</th>
                </tr>
            </thead>
            <tbody>
                {% for ex in gene.exac %}
                <tr>
                    <td>{{ex.variant_id}}</td>  <!-- 0 -->
                    <td>{{ex.HGVSc}}</td> <!-- 6 -->
                    <td>{{ex.major_consequence}}</td> <!-- 4 -->
                    <td>{{ex.allele_count}} ({{ex.hom_count}})</td> <!-- 2 -->
                    <td>{{ex.allele_num}}</td> <!-- 3 --> 
                    <td>{{ex.rsid}}</td> <!-- 5 -->
                    <td>{{ex.pop_acs['European (Non-Finnish)']}}</td> <!-- 7 -->
                    <td>{{ex.pop_ans['European (Non-Finnish)']}}</td> <!-- 8 -->
                    <td>{{ex.pop_acs['European (Finnish)']}}</td> <!-- 9 -->
                    <td>{{ex.pop_ans['European (Finnish)']}}</td> <!-- 10 -->
                    <td>{{ex.pop_acs['East Asian']}}</td> <!-- 11 -->
                    <td>{{ex.pop_ans['East Asian']}}</td> <!-- 12 -->
                    <td>{{ex.pop_acs['South Asian']}}</td> <!-- 13 -->
                    <td>{{ex.pop_ans['South Asian']}}</td> <!-- 14 -->
                    <td>{{ex.pop_acs['African']}}</td> <!-- 15 -->
                    <td>{{ex.pop_ans['African']}}</td> <!-- 16 -->
                    <td>{{ex.pop_acs['Latino']}}</td> <!-- 17 -->
                    <td>{{ex.pop_ans['Latino']}}</td> <!-- 18 -->
                    <td>{{ex.pop_acs['Other']}}</td> <!-- 19 -->
                    <td>{{ex.pop_ans['Other']}}</td> <!-- 20 -->
                    <td>{{ex.allele_freq}}</td> <!-- 1 -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var app_root = "{{url_for('home')}}";
    $(document).ready(function () {
        $('.exac_table').DataTable( {
            dom: 'Bfrtip',
            buttons: [
        //     {
        //     extend:    'copyHtml5',
        //     text:      '<i class="fa fa-files-o" </i>',
        //     titleAttr: 'Copy',
            
        // },
        // {
        //     extend:    'excelHtml5',
        //     text:      '<i class="fa fa-file-excel-o "></i>',
        //     titleAttr: 'Excel',
        // },
        {
            extend:    'csvHtml5',
            text:      '<i class="fa fa-file-text-o"></i>',
            titleAttr: 'CSV',
        },
        {
            extend:    'pdfHtml5',
            text:      '<i class="fa fa-file-pdf-o"></i>',
            titleAttr: 'PDF',
        },
        {
            text:      '<i class="fa fa-info"></i> ',
            action: function ( e, dt, button, config ) {
                window.location = app_root +'help/#exac';} ,
        },
            {
                extend: 'colvisGroup',
                text: 'European(Non-Finnish)',
                show: [ 6,7,20],
                hide: [ 8,9,10,11,12,13,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'European(Finnish)',
                show: [ 8,9,],
                hide: [ 6,7,10,11,12,13,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'East Asian',
                show: [ 11,10],
                hide: [ 6,7,8,9,12,13,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'South Asian',
                show: [12,13],
                hide: [6,7,8,9,10,11,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'African',
                show: [ 14,15],
                hide: [ 6,7,8,9,10,11,12,13,16,17,18,19,]
            },
            {
                extend: 'colvisGroup',
                text: 'Latino',
                show: [ 16,17],
                hide: [6,7,8,9,10,11,12,13,14,15,18,19]
            },
            
            {
                extend: 'colvisGroup',
                text: 'Other',
                show: [ 18,19 ],
                hide: [ 6,7,8,9,10,11,12,13,14,15,16,17,]
            },
            {
                extend: 'colvisGroup',
                text: 'Show all',
                show: ':hidden'
            },
            // {
            //     extend: 'colvis',
            //     text: 'Show columns',
            //     columns: ':not(.noVis)'
            // }
            ],
            autoWidth: false,
            columnDefs: [
            {   targets: 0, width: "30px"  }],
            
        });
        $('#exac').addClass('show');
        $('.dt-buttons :button').removeClass('dt-button');
        $('.dt-buttons :button').addClass('btn btn-secondary my-2');

    });

</script>
{% endblock %}