{% extends 'gene_base.html' %} 
{% block title %}{{gene.name}}{% endblock %}
{% block gene %}{{gene.name}}{% endblock %}

{% block exacdetails %} 
<div class="tab-pane fade show active" id="exac" role="tabpanel" aria-labelledby="exac-tab">
        <br>
        <div class="table-responsive">
          <table class="exac_table cell-border hover stripe" class="table ">
            <thead>
              <tr>
                <th rowspan="2" >Variant</th>
                <th rowspan="2">Allele Frequency</th>
                <th rowspan="2">Allele Count</th>
                <th rowspan="2">Allele Number</th>
                <th rowspan="2">Major Consequence</th>
                <th rowspan="2">RSID</th>
                <th rowspan="2">HGVSc</th>
                <th colspan="2">European (Non-Finnish)</th>
                <th colspan="2">European (Finnish)</th>
                <th colspan="2">East Asian</th>
                <th colspan="2">South Asian</th>
                <th colspan="2">African</th>
                <th colspan="2">Latino</th>
                <th colspan="2">Other</th>
              </tr>
              <tr>
                
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
                <th class="middle-head">Allele count</th>
                <th class="middle-head">Allele number</th>
              </tr>
            </thead>
            <tbody>
              {% for ex in gene.exac %}
              <tr>
                <td>{{ex.variant_id}}</td>
                <td>{{ex.allele_freq}}</td>
                <td>{{ex.allele_count}}</td>
                <td>{{ex.allele_num}}</td>
                <td>{{ex.major_consequence}}</td>
                <td>{{ex.rsid}}</td>
                <td>{{ex.HGVSc}}</td>
                <td>{{ex.pop_acs['European (Non-Finnish)']}}</td>
                <td>{{ex.pop_ans['European (Non-Finnish)']}}</td>
                <td>{{ex.pop_acs['European (Finnish)']}}</td>
                <td>{{ex.pop_ans['European (Finnish)']}}</td>
                <td>{{ex.pop_acs['East Asian']}}</td>
                <td>{{ex.pop_ans['East Asian']}}</td>
                <td>{{ex.pop_acs['South Asian']}}</td>
                <td>{{ex.pop_ans['South Asian']}}</td>
                <td>{{ex.pop_acs['African']}}</td>
                <td>{{ex.pop_ans['African']}}</td>
                <td>{{ex.pop_acs['Latino']}}</td>
                <td>{{ex.pop_ans['Latino']}}</td>
                <td>{{ex.pop_acs['Other']}}</td>
                <td>{{ex.pop_ans['Other']}}</td>
  
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
{% block extrajs %}
<script>
$(document).ready(function () {
  $('.exac_table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print',
            {
                extend: 'colvisGroup',
                text: 'European(Non-Finnish)',
                show: [ 1, 2,3,4,5,6,7],
                hide: [ 8,9,10,11,12,13,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'European(Finnish)',
                show: [ 1, 2,3,4,5,8,9],
                hide: [ 7,6,10,11,12,13,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'East Asian',
                show: [ 1, 2,3,4,5,10,11],
                hide: [ 6,7,8,9,12,13,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'South Asian',
                show: [ 1, 2,3,4,5,12,13],
                hide: [ 6,7,8,9,10,11,14,15,16,17,18,19 ]
            },
            {
                extend: 'colvisGroup',
                text: 'African',
                show: [ 1, 2,3,4,5,14,15],
                hide: [ 6,7,8,9,10,11,12,13,16,17,18,19  ]
            },
            {
                extend: 'colvisGroup',
                text: 'Latino',
                show: [ 1, 2,3,4,5,16,17 ],
                hide: [5,6,7,8,9,10,11,12,13,14,15,18,19]
            },
            
            {
                extend: 'colvisGroup',
                text: 'Other',
                show: [ 1, 2,3,4,5,18,19 ],
                hide: [ 6,7,8,9,10,11,12,13,14,15,16,17]
            },
            {
                extend: 'colvisGroup',
                text: 'Show all',
                show: ':hidden'
            }
        ],
        columnDefs: [
            { "width": "100", "targets": "0" }
            //edit: not working
        ],
  });
});
</script>
{% endblock %}