{% extends 'gene_base.html' %} 
{% block title %}{{gene.name}}{% endblock %}


{% block tabcontent %} 
<div class="tab-pane fade active"  id="go" role="tabpanel" aria-labelledby="go-tab">
    <br>
    <div class="table-responsive">
        <table class="download_table cell-border hover stripe details" class="table">
            <thead>
                <tr>
                    <th class="left-head">GO ID</th>
                    <th>GO Definition</th>
                    <th class="right-head">Category</th>
                </tr>
            </thead>
            <tbody>
                {% for cc in gene.go_cellular_component %}
                <tr>
                    <td>{{cc.go.id}}</td>
                    <td>{{cc.go.text}}</td>
                    <td>Cellular component</td>
                </tr>
                {% endfor %} {% for mf in gene.go_molecular_function %}
                <tr>
                    <td>{{mf.go.id}}</td>
                    <td>{{mf.go.text}}</td>
                    <td>Molecular Function</td>
                </tr>
                {% endfor %} {% for bp in gene.go_biological_process %}
                <tr>
                    <td>{{bp.go.id}}</td>
                    <td>{{bp.go.text}}</td>
                    <td>Biological Process</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
$(document).ready(function () {
  $('.download_table').DataTable({
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  });
  $('#go').addClass('show');

});
</script>
{% endblock %}