{% extends 'gene_base.html' %}
{% block title %}{{super()}} | NHLBI Details{% endblock %}

{% block tabcontent %}
<div class="tab-pane fade active" id="nhlbi" role="tabpanel" aria-labelledby="nhlbi-tab">
    <br>
    <div class="table-responsive">
        <table  class="download_table cell-border hover stripe details" class="table">
            <thead>
                <tr>
                    <th class="left-head" >Variant</th>
                    <th> rs ID</th>
                    <th> African Americal Genotype </th>
                    <th> European American Genotype</th>
                    <th> All Genotype </th>
                    <th> MAF (%) (EA/AA/All) </th>
                    <th> Consequence</th>
                    <th> HGVS Protein Change</th>
                    <th> cDNA Change</th>
                    <th> Polyphen Score</th>
                      
                </tr>   
            </thead>
            <tbody>
                {% for nh in gene.nhlbi %}
                <tr>
                    <td>{{nh.base_ncbi_37}}</td>
                    <td>{{nh.rsid}}</td> 
                    <td>{{nh.african_american_genotype_count}}</td>
                    <td>{{nh.european_american_genotype_count}}</td>
                    <td>{{nh.all_genotype_count}}</td>
                    <td>{{nh.maf_in_percent_ea_aa_all}} </td>
                    <td>{{nh.function_gvs}}</td>
                    <td>{{nh.hgvs_protein_variant}}</td>
                    <td>{{nh.hgvs_cdna_variant}}</td>
                    <td>{{nh.polyphen2_class_score}}</td>
                      
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    var app_root = "{{url_for('home')}}";
    $(document).ready(function () {
        $('.download_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print',
            {
            text:      '<i class="fa fa-info"></i> ',
            action: function ( e, dt, button, config ) {
                window.location = app_root +'help/#nhlbi';} 
            }
            ]
        });
        $('#nhlbi').addClass('show');
        $('.dt-buttons :button').removeClass('dt-button');
        $('.dt-buttons :button').addClass('btn btn-secondary my-2');
    });
</script>

{% endblock %}