{% extends 'gene_base.html' %}
{% block title %}{{super()}} | Pathway Details{% endblock %}
{% block tabcontent %}
<div class="tab-pane fade active" id="pathways" role="tabpanel" aria-labelledby="pathways-tab">
    <br>
    <div class="table-responsive">
      <table  class="download_table cell-border hover stripe details" class="table" id="pathways-table">
        <thead>
          <tr>
            <th class="left-head">Pathways</th>
            <th class="middle-head">External ID</th>
            <th class="right-head">Source</th>
          </tr>
        </thead>
        <tbody>
          {% for pa in gene.pathways %}
          <tr>
            <td>{{pa.data}}</td>
            <td>
              <a href="#" target="_blank">{{pa.external_id}}</a>
            </td>
            <td>{{pa.source}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        $('#pathways').addClass('show');

        var rows = $('table#pathways-table > tbody > tr');
        for (row of rows) {
          var extida = $(row).find('td:nth-child(2) > a')
          var source = $(row).find('td:nth-child(3)')
          var extidval = $(extida).html()
          var link = '#'
          switch ($(source).html()) {
            case 'Wikipathways':
              link = `https://www.wikipathways.org/index.php/Pathway:${extidval}`
              break
            case 'KEGG':
              var temp = extidval.substring(5,13)
              link=` https://www.genome.jp/dbget-bin/www_bget?${temp}`
              break
            case 'Reactome':
              link=`https://reactome.org/content/detail/${extidval}`
              break
            case 'SMPDB':
              link=`http://smpdb.ca/view/${extidval}`
              break 
            case 'NetPath':
              var temp = extidval.substring(8,)
              link=`http://www.netpath.org/netslim/${temp}_pathway.html`
              break
            case 'HumanCyc':
              link=`https://humancyc.org/HUMAN/NEW-IMAGE?type=PATHWAY&object=${extidval}`
              break
            case 'BioCarta':
              // link=`https://cgap.nci.nih.gov/Pathways/BioCarta/h_${extidval}`
              break  
            case 'Signalink':
              link=``
              break
            case 'PID':
              link=``
              break 
            case 'PharmGKB':
              link=`https://www.pharmgkb.org/pathway/${extidval}`
              break  
            }
            $(extida).attr('href', link)
        }
        $('.download_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

    });
</script>
{% endblock %}
